<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/registration.css') }}">
</head>

<body>
<form class="signUp" id="signupForm" action="">
    <h1 class="signUpTitle">Sign up in seconds</h1>
    {{ form.csrf_token }}
    {{ form.hidden_tag() }}
    {{ form.username(class_='signUpInput', placeholder='Type your username') }}
    {{ form.password(class_='signUpInput', placeholder='Choose a password') }}
    {{ form.email(class_='signUpInput', placeholder='Type your email') }}
    <input type="submit" value="Register" class="signUpButton">
</form>
<!--
<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <h1>Sign In</h1>
            <form action="" method="post" novalidate>
                {{ form.csrf_token }}
                {{ form.hidden_tag() }}
                <p>
                    {{ form.username.label }}<br>
                    {{ form.username(size=32) }}
                </p>
                <p>
                    {{ form.password.label }}<br>
                    {{ form.password(size=32) }}
                </p>
                <p>
                    {{ form.email.label }}<br>
                    {{ form.email(size=32) }}
                </p>
                <p>{{ form.submit() }}</p>
            </form>
        </div>
    </div>
</div>
--->
</body>
</html>
